<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101270537);</script>
			<script async src="//static.getclicky.com/js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/technical_notes">Technical Notes</a></li>
				<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://scholar.google.com/citations?user=9HDgWrIAAAAJ&hl=en&oi=ao">GoogleScholar </a></li>
				<li><a href="https://github.com/Leo-Lo">GitHub </a></li>
				<li><a href="https://www.linkedin.com/in/chiu-fan-bowen-leo-lo-400aa6143/">LinkedIn </a></li>
				</ul>
			</footer>
		</body>
	</html>
